$primary: #ff0000;
$secondary: #00ff00;
$dark: #000000;
$black: #000000;
$font-family-sans-serif: 'Montserrat', sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";